<html>
  <head>
    <title>Ansible Managed System</title>
  </head>
  <body>
    </br>
    <H1><a href=http://{{ ansible_default_ipv4.address }}/index.html>Homepage</a></H1>
    </br>
    </br>
      <?php 
        Print "Hello, Ansible Workshop! This web server was configured using Ansible Tower.</BR>";
        Print "My hostname is: ";
        echo exec('hostname');
        Print  "</BR>";
        echo  "List of Databases: </BR>";
        {% for host in groups['lamp-servers'] %}
          $link = mysqli_connect('{{ hostvars[host].ansible_default_ipv4.address }}', '{{ hostvars[host].dbuser }}', '{{ hostvars[host].upassword }}') or die(mysqli_connect_error($link));
        {% endfor %}
        $res = mysqli_query($link, "SHOW DATABASES;");
        while ($row = mysqli_fetch_assoc($res)) 
        {
          echo $row['Database'] . "\n";
         }
      ?>
  </body>
</html>

